* {
  box-sizing:border-box;
}

.block {
  border: 1px #222222 solid;
  cursor: move;
  position: absolute;
  min-width: 320px;
  min-height: 200px;
  background: whitesmoke;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px 16px;
  padding-top: 10px;
}

.body {
  min-width: 90%;
  display: grid;
}

.tittle {
  text-transform: uppercase;
  margin-left: 4px;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 0px;
}

.description {
  margin-left: 14px;
  font-size: 16px;
}

.progress_bar {
  place-self: center;
  background: rgb(201, 194, 194);
  border-radius: 20px;
  width: 97%;
  height: 20px;
  margin-bottom: 15px;
}

strong {
  margin-left: 14px;
}

button {
  background: none;
  border: 2px black solid;
  border-radius: 6px;
  height: 30px;
  min-width: 30px;
  max-width: 120px;
  text-transform: uppercase;
}

.step {
  margin-top: 8px;

}

.completed {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 0px;
}

button:hover:enabled {
  cursor: pointer;
  background-color: rgb(228, 223, 223);
}

.black {
  height: 100%;
  background: rgb(42, 41, 41);
  border-radius: 20px;
  transition: width 1s;
}

.del {
  position: absolute;
  right: 16px;
  top: 16px;
}
