.block {
  cursor: move;
  position: absolute;
  width: 320px;
  min-height: 200px;
  background: whitesmoke;
  border-radius: 15px;
  display: flex;
  margin-bottom: 20px;
}

.body {
  min-width: 90%;
}

.tittle {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 18px;
}

.description {
  margin-left: 30px;
  font-size: 16px;
}

.progress_bar {
  background: rgb(201, 194, 194);
  border-radius: 20px;
  margin-left: 10px;
  width: 300px;
  height: 20px;
  margin-bottom: 15px;
}

strong {
  margin-left: 30px;
}

button {
  background: none;
  border: 2px black solid;
  border-radius: 6px;
  height: 30px;
  min-width: 30px;
  text-transform: uppercase;
}

.step {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.step:disabled {
  background: whitesmoke;
  color: whitesmoke;
  border: none;
  cursor: move;
}

button:hover:enabled {
  cursor: pointer;
  background-color: rgb(228, 223, 223);
}

.black {
  height: 100%;
  background: rgb(42, 41, 41);
  border-radius: 20px;
  transition: width 1s;
}

.del {
  position: absolute;
  right: 10px;
  top: 10px;
}
